<!--
    DASHBOARD

    /templates/dashboard.html
-->
{% extends "base.html" %}

{% block content %}
    <section class="container-section">
        {% if user.is_authenticated %}
            <h1>Hej, {{ user.name }}!</h1>
        {% else %}
            <h1>Hej!</h1>
        {% endif %}
    </section>

    <section class="container-section">

    {% if events == '' %}
        {% for i in events %}
        	<p>Pass: {{ i.title }}</p>
            <p>Start: {{ i.start }}</p>
            <p>Slut: {{ i.end }}</p>
        {% endfor %}
    {% else %}
        <p>Du har inga inbokade pass.</p>
    {% endif %}

    </section> <!-- /.container-section -->
{% endblock %}
