<!--
    MAIN PROFILE PAGE

    .container-nav
    .container-header
    .profile-section

-->

{% extends "base.html" %}

{% block content %}
    {% for i in user_info %}
    <!-- <nav class="container-nav">
        <ul> {# eller använd .profile-nav ul #}
            <li><a href="" class="current">Profil</a></li>
            <li><a href="">Anställning</a></li>
            <li><a href="">Kompetens</a></li>
            <li><a href="">Kontakt</a></li>
        </ul>
    </nav> /.profile-nav -->

    <header class="container-header">

        <div class="profile-header-person">
            <h2>{{ i.name }}</h2>
            <div class="employment-type">
                <i class="fas fa-user"></i>
                <p>
                    {% if i.is_superuser %}
                        {{ i.is_superuser }}
                    {% else %}
                        Anställd
                    {% endif %}
                </p> {# rights or emp_type? #}
            </div> <!-- /.employment-type -->
        </div> <!-- /.profile-header-person -->

      <!--  {# {% if user == current_user %}
            <div class="edit-profile">
                <p><a href=" url_for('edit_profile') ">Redigera</a></p>
            </div>  /.edit-profile
        {% endif %} #}-->

        <!-- <div class="profile-header-img">
            <img src="#" alt="{{ i.name }}s profilbild">

            <a id="upload_img" href="#" title="Ladda upp en ny profilbild">
                <button>Ändra</button>
            </a>

            <a id="delete_img" href="#" title="Ta bort din profilbild och få tillbaka bilden av Al!">
                <button>
                    Ta bort
                </button>
            </a>
        </div> -->
        {% endfor %}
    </header> <!-- /.profile-header -->

    <section id="profile-section" class="container-section">
      {% for i in user_info %}
        <ul>
            <li>Telefonnummer
                <ul>
                    <li>
                        {% if i.phone %}
                            {{ i.phone }}
                        {% else %}
                            Telefonnummer saknas
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>E-postadress
                <ul>
                    <li>
                        {% if i.email %}
                            {{ i.email }}
                        {% else %}
                            E-postadress saknas
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>Anställnings-ID
                <ul>
                    <li>
                        {% if i.empid %}
                            {{ i.empid }}
                        {% else %}
                            AnställningsID saknas
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>Anställningsform
                <ul>
                    <li>
                        {% if i.emp_type %}
                            {{ i.emp_type }}
                        {% else %}
                            Anställningsform saknas
                        {% endif %}
                    </li>
                </ul>
            </li>

            <li>Avdelningar
                <ul>
                    <li>
                        {% if i.groups %}
                            {% for i in i.groups %}
                                {{ i }} {# Comma after each, except for the last – perhaps a solution for back-end? #}
                            {% endfor %}
                        {% else %}
                            Avdelningar saknas
                        {% endif %}
                    </li>
                </ul>
            </li>
        </ul>

        <div class="emergency-contacts">
            <h3>Närmaste anhöriga</h3>
            {% if next_of_kin %} {# or 'if next_of_kin != None'? Requires that we send data to variable next_of_kin #}
                <ol>
                    {% for i in next_of_kin %}
                    <li>
                        <ul>
                            <li>{{ i.name }}</li>
                            <li>{{ i.phone }}</li>
                        </ul>
                    </li>
                    {% endfor %}
                </ol>
            {% else %}
                Det finns inga angivna närmaste anhöriga.
            {% endif %}
        </div> <!-- /.emergency-contacts -->
    </section> <!-- /.profile-section -->
    {% endfor %}
{% endblock %}
