<!-- 
    DASHBOARD
-->
{% extends "base.html" %}

{% block main %}
    <section class="container-section">
        <h1>Hej, {{ current_user.username|capitalize }}!</h1>
        {% if form %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.post.label }}<br>
                    {{ form.post(cols=32, rows=4) }}<br>
                    {% for error in form.post.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        {% endif %}
        {% for post in posts %}
            <p>
                {{ post.author.username }} säger: <b>{{ post.body }}</b>
            </p>
        {% endfor %}
    </section> <!-- /.container-section -->
{% endblock %}