<!--
    LOG IN 
-->
{% extends "base.html" %}
    {# Fix CSS grid so that main is the only template-area in case it is this page #}
{% block main %}
    <section class="container-section">

        <h1>Logga in</h1>

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <p class="required">[{{ error }}]</p>
                {% endfor %}

                {{ form.password.label }}
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                <p class="required">[{{ error }}]</p>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.remember_me() }} {{ form.remember_me.label }}
            </div>
            {{ form.submit() }}
        </form>
        <p>Ny anställd? <a href="{{ url_for('register') }}">Klicka här för att registrera dig!</a></p>

    </section> <!-- /.container-section -->
{% endblock %}
