html, body {
  height: 100%;
  margin: 0;
}

#app {
  display: grid;
  grid-template-rows: 45px 1fr;
  grid-template-columns: 200px 1fr;
  height: 100%;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16);
  /* stretch from first grid line to last grid line */
  grid-column: 1/-1;
}

aside {
  background-color: #213e48;
}

nav a {
  color: white;
}

#main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

