<!DOCTYPE html>
<html lang="sv">
	<head>
		<title>Paca</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="demo.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

	</head>
	<body>
		<div id="app">

			<header id="topbar">
				<div class="topbar-bell">
					<i class="far fa-bell"></i>
				</div> <!-- /.top-bar-bell -->

				<div class="topbar-profile">
					{# Kanske omge nedan med vars en div #}
					<i class="fas fa-user-circle"></i>
					{# Ändra så småningom till {{ firstname}} och {{lastname }} #}
					<p>{{ name }}</p>
					<i class="fas fa-angle-down"></i>
				</div> <!-- /.top-bar-profile -->
			</header>

	  		<aside>
	  			<div class="logo">
					<img src="" alt="">	
	  			</div> <!-- /.logo -->
				
				<nav>
	  				<ul id="main-nav">
	  					<li>
	  						<a href="">
								<i class="fas fa-tachometer-alt"></i>
								<span class="nav-item">
									Dashboard
								</span> <!-- /.nav-item -->
	  						</a>
	  					</li>
	  					<li>
	  						<a href="">
								<i class="fas fa-calendar-alt"></i>
								<span class="nav-item">
									Kalender
								</span> <!-- /.nav-item -->
	  						</a>
	  					</li>
	  					<li>
	  						<a href="">
								<i class="fas fa-info-circle"></i>
								<span class="nav-item">
									Resurser
								</span> <!-- /.nav-item -->
	  						</a>
	  					</li>
	  					<li>
	  						<a href="">
								<i class="fas fa-bullhorn"></i>
								<span class="nav-item">
									Nyheter
								</span> <!-- /.nav-item -->
	  						</a>
	  					</li>
	  					<li>
	  						<a href="">
								<i class="fas fa-cog"></i>
								<span class="nav-item">
									Inställningar
								</span> <!-- /.nav-item -->
	  						</a>
	  					</li>
	  				</ul>
	  			</nav>

	  		</aside>
			

	  		<main>{# main background = appens bakgrundsfärg #}
	  			
	  			<section id="profile-container">

	  				<nav class="profile-nav">
	  					<ul class="profile-nav-ul"> {# eller använd .profile-nav ul #}
	  						<li><a href="" class="profile-nav-a">Profil</a></li>
	  						<li><a href="" class="profile-nav-a">Anställning</a></li>
	  						<li><a href="" class="profile-nav-a">Kompetens</a></li>
	  						<li><a href="" class="profile-nav-a">Kontakt</a></li>
	  				</nav> <!-- /.profile-nav -->

	  				<header class="profile-header">

	  					<h2>{{ name }}}</h2>

	  					<div class="employment-type"> 
	  						<i class="fas fa-user"></i>
	  						<p>{{ emp_type }}</p>
	  					</div> <!-- /.employment-type -->

	  				</header> <!-- /.profile-header -->

					<!-- Profile overview -->
	  				<section class="profile-section">

						<!-- Basic information -->
	  					<ul class="profile-list">
	  						{% for i in person %}
		  						<li>Telefonnummer
		  							<ul>
		  								<li>{{ phone }}</li>
		  							</ul>
		  						</li>
		  						<li>E-postadress
									<ul>
										<li>{{ email }}</li>
									</ul>
		  						</li>
		  						<li>Anställnings-ID
		  							<ul>
		  								<li>{{ empid }}</li>
									</ul>
		  						</li>
		  						<li>Anställningsform
		  							<ul>
		  								<li>{{ emp_type}}</li>
		  							</ul>
		  						</li>
		  						<li>Kompetenser
		  							<ul>
		  								<li>{{ dep_empid }}</li>
		  							</ul>
		  						</li>
	  						{% endfor %}
	  					</ul> <!-- /.profile-list -->

						<!-- Emergency contacts -->
	  					<ol>
	  						{% for i in next_of_kin %}
		  						<li>{{ name }}</li>
		  						<li>{{ phone }}</li>
	  						{% endfor %}
	  					</ol>
						
	  				</section> <!-- /Profile overview -->

					<!-- Employment section -->
	  				<section class="profile-section">
						
	  				</section> <!-- /Capability section -->

					<!-- Capability section -->
	  				<section class="profile-section">
						
	  				</section> <!-- /Capability section -->

					<!-- Contact section -->
	  				<section class="profile-section">
						
	  				</section> <!-- /Contact section -->

	  			</section> <!-- /#profile-container -->

	  		</main>

		</div> <!-- /#app -->
	</body>
</html>
