<!--
    PROFILE PAGE "KONTAKT"

    .container-nav
    .container-header
    .profile-section

-->

{% extends "base.html" %}

{% block content %}
    <nav class="container-nav">
        <ul> {# eller använd .profile-nav ul #}
            <li><a href="">Profil</a></li>
            <li><a href="">Anställning</a></li>
            <li><a href="">Kompetens</a></li>
            <li><a href="" class="current">Kontakt</a></li>
        </ul>
    </nav> <!-- /.profile-nav -->

    <header class="container-header">

        <div class="profile-header-person">
            <h2>Kontakt</h2>

                <p>{{ person.firstname|capitalize }} {{person.lastname|capitalize }}</p> 
 
        </div> <!-- /.profile-header-person -->
        
        {# {% if user == current_user %}
            <div class="edit-profile">
                <p><a href="{{ url_for('edit_profile') }}">Redigera</a></p>
            </div> <!-- /.edit-profile -->
        {% endif %} #}

    </header> <!-- /.profile-header -->

    <section id="profile-section" class="container-section">

        <ul>
            <li> 
                <ul>
                    <li>
                        {% if person. %}
                            {{ person.phone }}
                        {% else %}
                            
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        {% if person. %}
                            {{ person. }}
                        {% else %}
                            
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        {% if person. %}
                            {{ person. }}
                        {% else %}
                            
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        {% if person. %}
                            {{ person.e }}
                        {% else %}
                            
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>Kompetenser
                <ul>
                    <li>
                        {# Get depid_f(dep_empid) of empid_f(depemp_id) == emp_id(person), then get name(department) where dep_id(department) == depid_f(depemp_id) #}
                        {% if departments %}
                            {% for i in departments %}
                                {{ i }} {# Comma after each, except for the last – perhaps a solution for back-end? #}
                            {% endfor %}
                        {% else %}
                            Kompetenser saknas
                        {% endif %}
                    </li>
                </ul>
            </li>
        </ul>

    </section> <!-- /.profile-section -->
    
{% endblock %}
