<!--
    REGISTER NEW ACCOUNT 
-->

{% extends "base.html" %}

{% block main %}
    <section id="register" class="container-section">
        <h1>Registrera dig</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(size=40) }}
                {% for error in form.username.errors %}
                <p class="required">[{{ error }}]</p>
                {% endfor %}

                {{ form.email.label }}
                {{ form.email(size=40) }}
                {% for error in form.email.errors %}
                <p class="required">[{{ error }}]</p>
                {% endfor %}

                {{ form.password.label }}
                {{ form.password(size=40) }}
                {% for error in form.password.errors %}
                <p class="required">[{{ error }}]</p>
                {% endfor %}

                {{ form.password2.label }}
                {{ form.password2(size=40) }}
                {% for error in form.password2.errors %}
                <p class="required">[{{ error }}]</p>
                {% endfor %}
            </div>
            <br>
            {{ form.submit() }}
        </form>
    </section>
{% endblock %}