body {
  background-color: red;
  font-family: 'Open Sans', sans-serif;
  color: #7D819E;
  line-height: 55px;
  font-size: 18px;
  letter-spacing: 1px;
  /*overflow: hidden;  Makes the page unscrollable */
}
