<!--
    PROFILE PAGE "KOMPETENS"

    .container-nav
    .container-header
    .profile-section

-->

{% extends "base.html" %}

{% block content %}
    <nav class="container-nav">
        <ul> {# eller använd .profile-nav ul #}
            <li><a href="">Profil</a></li>
            <li><a href="">Anställning</a></li>
            <li><a href="" class="current">Kompetens</a></li>
            <li><a href="">Kontakt</a></li>
        </ul>
    </nav> <!-- /.container-nav -->

    <header class="container-header">

        <div class="container-header-title">
            <h1>Kompetens</h1>

                <p>{{ user.get_full_name|capitalize }}</p> 
 
        </div> <!-- /.container-header-title -->

    </header> <!-- /.container-header -->

    <section id="profile-section" class="container-section">

        <ul>
            <li> 
                <ul>
                    <li>
                        {% if user. %}
                            {{ user. }}
                        {% else %}
                            
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        {% if user. %}
                            {{ user. }}
                        {% else %}
                            
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        {% if user. %}
                            {{ user. }}
                        {% else %}
                            
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        {% if user. %}
                            {{ user. }}
                        {% else %}
                            
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li>Kompetenser
                <ul>
                    <li>
                        {% if departments %}
                            {% for i in departments %}
                                {{ i }} {# Comma after each, except for the last – perhaps a solution for back-end? #}
                            {% endfor %}
                        {% else %}
                            Kompetenser saknas
                        {% endif %}
                    </li>
                </ul>
            </li>
        </ul>

    </section> <!-- /#profile-section.container-section -->
    
{% endblock %}
