<!--
	PASSWORD CHANGE FORM

	/templates/registration/password_change_form.html
-->
{% extends "base.html" %}

	{% block content %}
		<section class="container-section">
			<h1>Ändra mitt lösenord</h1>
			<p>Vad god skriv ditt nuvarande lösenord, följt av att ange ditt önskade lösenord två gånger så att vi kan verifiera att du skrev in det korrekt.</p>

			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Skicka">
			</form>
			<a href="/fullcalendar/profile">
				<button>Avbryt</button>
			</a>
			

		</section> <!-- /.container-section -->
	{% endblock %}