<!--
	PASSWORD RESET FORM

	/templates/registration/password_reset_form.html
-->
{% extends "base.html" %}

	{% block content %}
		<section class="container-section">
		  <h1>Glömt ditt lösenord?</h1>
		  <p>Skriv din e-postadress nedan, så skickar vi instruktioner för återställning av lösenord via mail.</p>

		  <form method="POST">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <input type="submit" value="Återställ">
		  </form>
			
		</section> <!-- /.container-section -->
	{% endblock %}