<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  Hi {{ user.username }}!
  <br> Detta är vår nuvarande landingpage.
  <br> Den ligger i appen users/ eftersom det var så inloggningen konfades.
{% endblock %}

{% block main %}
  {% if user.is_authenticated %}
  <p><a href="{% url 'fullcalender' %}">Fullcalender!</a></p>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
