<!--
    The base layout for authenticated user views
-->
<!DOCTYPE html>
{% load staticfiles %}
<html lang="sv">
    <head>
        <title>
            {% if title %}
                {{ title }} | PACA
            {% else %}
                PACA
            {% endif %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href='{% static 'style.css' %}'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    </head>
    <body>
        <div id="app">

            <header id="topbar">
                <div class="topbar-bell">
                    <i class="far fa-bell"></i>
                </div> <!-- /.top-bar-bell -->

                <div class="topbar-profile">
                    {# Kanske omge nedan med vars en div #}
                    <i class="fas fa-user-circle"></i>
                    {# Lägg så småningom till {{ user.first_name }} och {{ user.last_name }} #}
                    {% if user.is_authenticated %}
                        {#<a href="{% url 'profile' %}">Profil</a>#}
                        <a href="{% url 'password_change' %}">Byt lösenord</a>
                        <a href="{% url 'logout' %}">Logga ut</a>
                    {% else %}
                        <a href="{#{ url_for('user', username=current_user.username) }#}">Profile</a>
                        <a href="{#{ url_for('logout') }#}">Logout</a>
                        <a href="{% url 'login' %}">Logga in</a>
                    {% endif %}

                </div> <!-- /.top-bar-profile -->
            </header> <!-- /#topbar -->

            <aside>
                <figure class="logo">
                    <img src="http://www.thatsfarming.com/uploads/news/1200x800_8-208a347d63693d952b7c8a3b7338ac58/3408-alpaca-1191300-1280.jpg" alt="Alpaca">
                </figure> <!-- /.logo -->

                <nav id="main-menu">
                    <ul>
                        <li>
                            <a href="/fullcalendar/dash" class="nav-item"> {# nav-item in both anchor and span tags? #}
                                <i class="fas fa-tachometer-alt"></i>
                                <span class="nav-item">Dashboard</span>
                            </a>
                        </li>
                        <br>
                        <li>
                          <a href="/fullcalendar" class="nav-item"> {# nav-item in both anchor and span tags? #}
                              <i class="fas fa-calendar-alt"></i>
                              <span class="nav-item">Kalender</span>
                            </a>
                        </li>
                        <br>
                        <li>
                            <a href='' class="nav-item">
                                <i class="fas fa-tachometer-alt"></i>
                                <span class="nav-item">Profil</span>
                            </a>
                        </li>
                        <li>
                            <a href='' class="nav-item">
                                <i class="fas fa-tachometer-alt"></i>
                                <span class="nav-item">Nyheter och notiser</span>
                            </a>
                        </li>
                        <br>
                        {% if user.is_staff or user.is_superuser %}
                            <li>
                                <a href="/admin" class="nav-item"> {# nav-item in both anchor and span tags? #}
                                    <i class="fas fa-cog"></i>
                                    <span class="nav-item">Administrering</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav> <!-- /#main-menu -->
            </aside>

            <main>
                <section class="container">
                    {% block content %}{% endblock %}
                    <!-- CONTENT ÄR DET STORA FÖNSTRET I CENTER -->
                </section> <!-- /.container -->
            </main>
        </div> <!-- /#app -->
    </body>
</html>
