<!--
    The base layout for authenticated user views
-->
<!DOCTYPE html>
{% load staticfiles %}
<html lang="sv">
    <head>
        <title>
            {% if title %}
                {{ title }} | PACA
            {% else %}
                PACA
            {% endif %}
        </title>
        {% block head %}{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href='{% static 'style.css' %}'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    </head>
    <body>
        <div id="app">

            <header id="topbar">
                <!--<div class="topbar-bell">
                    <i class="far fa-bell"></i>
                </div>  /.top-bar-bell  -->

                <div class="topbar-profile">
                    {% if user.is_authenticated %}
                        <a href="/fullcalendar/profile">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logga ut</a>
                    {% else %}
                        <a href="{% url 'login' %}">Logga in</a>
                    {% endif %}

                </div> <!-- /.top-bar-profile -->
            </header> <!-- /#topbar -->

            <aside>
                <a href="/" id="logo">
                    <figure class="logo-al">
                        <img src="http://www.thatsfarming.com/uploads/news/1200x800_8-208a347d63693d952b7c8a3b7338ac58/3408-alpaca-1191300-1280.jpg" alt="Alpaca">
                    </figure> <!-- /.logo-al -->
                    <h1>
                        PACA
                    </h1>
                </a>

                <nav id="main-menu">
                    {% if user.is_authenticated %}
                        <ul>
                            <li>
                                <a href="/fullcalendar/dash" class="nav-item"> {# nav-item in both anchor and span tags? #}
                                    <i class="fas fa-tachometer-alt"></i>
                                    <span class="nav-item">Dashboard</span>
                                </a>
                            </li>
                            <br>
                            <li>
                              <a href="/fullcalendar" class="nav-item"> {# nav-item in both anchor and span tags? #}
                                  <i class="fas fa-calendar-alt"></i>
                                  <span class="nav-item">Kalender</span>
                                </a>
                            </li>
                            <br>
                            <li>
                                <a href="/fullcalendar/profile" class="nav-item">
                                    <i class="fas fa-tachometer-alt"></i>
                                    <span class="nav-item">Profil</span>
                                </a>
                            </li>
                            <li>
                                <a href="/news" class="nav-item">
                                    <i class="fas fa-tachometer-alt"></i>
                                    <span class="nav-item">Nyheter</span>
                                </a>
                            </li>
                            <br>
                            {% if user.is_staff or user.is_superuser %}
                                <li>
                                    <a href="/admin" class="nav-item"> {# nav-item in both anchor and span tags? #}
                                        <i class="fas fa-cog"></i>
                                        <span class="nav-item">Adminportal</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav> <!-- /#main-menu -->
            </aside>

            <main>
                <section class="container">
                    {% block content %}{% endblock %}
                    <!-- CONTENT ÄR DET STORA FÖNSTRET I CENTER -->
                </section> <!-- /.container -->
            </main>
        </div> <!-- /#app -->
    </body>
</html>
