<!--
    DASHBOARD (Victor Dahl & Milo Bengtsson)

    /templates/dashboard.html

    A template for the dashboard view.
-->
{% extends "base.html" %}

{% block content %}
    <section class="container-section">
        {% if user.is_authenticated %}
            <h1>Dashboard</h1>
        {% else %}
            <h1>Hej!</h1>
        {% endif %}
    </section> <!-- /.container-section -->

    <div class="dashboard-grid">
        <section class="container-section">
            <h3>Mina pass</h3>
            {% for i in my_events %}
                <div class="dashboard-event">
                                    <div class="event-date">
                                        <div class="event-date-day">
                                            {{ i.start|date:'j' }}
                                        </div>
                                        <div class="event-date-month">
                                            {{ i.start|date:'N'}}
                                        </div>
                                    </div> <!-- /.event-date -->

                                    <div class="event-description">
                                        <div class="event-description-time">
                                            <p>{{ i.start|time:'H:i' }}-{{ i.end|time:'H:i' }}</p>
                                        </div>
                                        <div class="event-description-title">
                                            <p>{{ i.title_id }}</p>
                                        </div>
                                    </div> <!-- /.event-description -->
                                </div> <!-- /.dashboard-event -->
            {% endfor %}
        </section> <!-- /.container-section -->

        <section class="container-section">
            <h3>Lediga pass</h3>
            <div class="dashboard-list">
            {% for i in available_events %}
                <div class="dashboard-event">
                    <div class="event-date">
                        <div class="event-date-day">
                            {{ i.start|date:'j' }}
                        </div>
                        <div class="event-date-month">
                            {{ i.start|date:'N'}}
                        </div>
                    </div> <!-- /.event-date -->

                    <div class="event-description">
                        <div class="event-description-time">
                            <p>{{ i.start|time:'H:i' }}-{{ i.end|time:'H:i' }}</p>
                        </div>
                        <div class="event-description-title">
                            <p>{{ i.title_id }}</p>
                        </div>
                    </div> <!-- /.event-description -->
                    <div class="event-arrow">
                        <a href="{% url 'fullcalendar' %}">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div> <!-- /.dashboard-event -->
            {% endfor %}
        </div> <!-- /.dashboard-list -->
        </section> <!-- /.container-section -->
    </div> <!-- /.dashboard-grid -->

{% endblock %}
