<!--
    MAIN PROFILE PAGE (Victor Dahl & Milo Bengtsson)

    .container-nav
    .container-header
    .profile-section
-->

{% extends "base.html" %}

{% block content %}
    {% for i in user_info %}
        <header class="container-header">
            <div class="profile-header-person">
                <h2>{{ i.name }}</h2>
                <div class="employment-type">
                    <i class="fas fa-user"></i>
                    <p>
                        {% if i.is_superuser %}
                            Chef
                        {% endif %}
                        {% if i.is_admin == True and i.is_superuser == False %}
                            Admin
                        {% endif %}
                        {% if i.is_active and i.is_admin == False and i.is_superuser == False %}
                            Anställd
                        {% endif %}
                    </p>
                </div> <!-- /.employment-type -->
                <div>
                    <button type="submit" style="background-color: green;">Spara</button>
                    <a href="{% url 'profile' %}"><button style="background-color: red;">Avbryt</button></a>
            </div> <!-- /.profile-header-person -->
        </header> <!-- /.profile-header -->

        <section id="profile-section" class="container-section">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </section> <!-- /.profile-section -->
    {% endfor %}
{% endblock %}
