<!--
    DASHBOARD

    /templates/dashboard.html
-->
{% extends "base.html" %}

{% block content %}
    <section class="container-section">
        {% if user.is_authenticated %}
            <h1>Hej, {{ user.name }}!</h1>
        {% else %}
            <h1>Hej!</h1>
        {% endif %}

        <h2> Välkommen till Llama livs </h2>
        <p>
          Här kan du kika runt i exempelkunden Llama Livs schemaläggningssystem, och se deras anställda och deras nuarande pass.
          Du är välkommen att kika i admin panelen som du når genom sidopanelen eftersom du är inloggad som användaren Al, som självklart är superuser.
        </p>

        <h2> Mål med vårt projekt </h2>
        <p>
          Målet med detta projekt är att skapa en fungerande webbapplikation för
           att schemalägga arbetstimmar i ett företag. Målet är att applikationen
            ska ge en god användarupplevelse, utifrån vedertagna standarder och
            teorier, i den grad att ingen utbildning ska behövas för att
            effektivt använda applikationen.
        </p>

        <h2> Omfattnning </h2>
        <p>
          Produkten som framställs kommer vara ett schemaläggningssystem för svenska företag som vill ha ett visuellt tilltalande och användarvänligt verktyg för sin planering. Projektets omfattning grundas på kraven på sprintarna som beskrivna i kursplanen för projektet.
          Projektet kommer ej att omfatta personaladministration utöver grundläggande kontoadministration. Med kontoadministration menas sådan funktionalitet som rimligen krävs för att identifiera personer för att kunna koppla en individ till ett pass, och hantera kontaktinformation till personen.
        </p>

    </section> <!-- /.container-section -->
{% endblock %}
