<!--
    NEWS_LIST (Lisa Wasslöv)

    /templates/news_list.html

    The template that loops through the news.
-->
{% extends "base.html" %}

{% block content %}
    <h1>Nyheter</h1>
    <div class="news-list">
      {% for news in news %}
      <div class="container-section">
        <a href="{% url 'news:detail' slug=news.slug %}" class="news-title">
          <h2>{{ news.title }}</h2>
        </a>
        <p>{{ news.date }}</p>
        <hr>
        <br>
        <p>{{ news.snippet }}</p>
        <br>
        <a href="{% url 'news:detail' slug=news.slug %}">Läs mer...</a>
      </div> <!-- /.container-section -->
    {% endfor %}
  </div> <!-- /.news-list -->

{% endblock %}
