<!-- 
    UNAUTH BASE (Milo Bengtsson)

    /templates/unauth_base.html

    The base layout for unauthenticated user views,
    such as the login page.
-->
<!DOCTYPE html>
{% load staticfiles %}
<html lang="sv">
    <head>
        <title>
            {% if title %}
                {{ title }} | PACA
            {% else %}
                PACA
            {% endif %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href='{% static 'style.css' %}'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    </head>
    <body>
        <div id="unauth-app">

            <main>
                <section class="container">
                    <section class="container-section">
                        {% block unauth_content %}{% endblock %}
                    </section> <!-- /.container-section -->
                </section> <!-- /.container -->
            </main>

        </div> <!-- /#app -->
    </body>
</html>
